//
   Created by fy on 15-9-4.
extends layout_nomenu

block content
        pre(style='width:100%;height:900px;padding-top:100px;padding-left:200px;').

                    版权所有: 青岛前途软件技术有限公司

                    技术支持: 尹彬
                    手机: 17554153785
                    邮箱: yinbin@qdqtrj.com
                    官网: http://www.qdqtrj.com