//
   Created by fy on 15-12-22.
extends ../../layout_nomenu


block content

    .main-content
        .page-content
            form#search-form-id
                table.searchTable
                    tr
                        td 条码编号
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='barcode_long')
                        td 医院名称
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='hospital')
                        td 样本编号
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='sample_code')
                    tr
                        td 采样日期
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='sample_date')
                        td 接收日期
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='receive_date')
                        td 姓名
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='real_name')
                    tr
                        td 身份证
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='id_card')
                        td 年龄
                        td
                            input.col-xs-10.col-sm-5(type='number' , name='age')
                        td 孕周
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='pregnancy_week')
                    tr
                        td 孕天
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='pregnancy_day')
                        td 妊娠情况
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='pregnancy_condition')
                        td 不良孕产史
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='pregnancy_bad_history')
                    tr
                        td 备注
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='comments')
                        td 录入人员
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='inputter')
                        td 录入日期
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='input_date')
                    tr
                        td 换管人员
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='changer')
                        td 换管日期
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='change_date')
                        td 审批人员
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='checker')
                    tr
                        td 审批日期
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='check_date')
                        td 采血管入库人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='warehouser')
                        td 采血管入库位置
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='warehouse_place')
                    tr
                        td 采血管入库时间
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='warehouse_date')
                        td 采血管出库人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='sample_outer')
                        td 接收组样本剩余量
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='sample_out_residue')
                    tr
                        td 提取组接收人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='extract_handover')
                        td 提取组接收时间
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='extract_handover_date')
                        td Qubit浓度(ng/ul)
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='extract_qbite_deep')
                    tr
                        td epoch浓度(ng/ul)
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='extract_epoch_deep')
                        td 纯度(%)
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='extract_purity_deep')
                        td 片段大小(bp)
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='extract_part_size')
                    tr
                        td 打断后片段(bp)
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='extract_part_after_break')
                        td 提取人员
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='extracter')
                        td 提取时间
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='extract_date')
                    tr
                        td 提取审核人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='extract_checker')
                        td 提取审核时间
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='extract_check_date')
                        td 提取出库人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='extract_outer')
                    tr
                        td 提取组样本剩余量
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='extract_out_residue')
                        td 建库组接收人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storage_handover')
                        td 建库组接收时间
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='storage_handover_date')
                    tr
                        td 建库浓度(ng/ul)
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storage_deep')
                        td 建库index号
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storage_index')
                        td 建库片段大小(bp)
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storage_part_size')
                    tr
                        td 建库人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storager')
                        td 建库时间
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='storage_date')
                        td 建库审查人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storage_checker')
                    tr
                        td 建库审查时间
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='storage_check_date')
                        td 建库组出库人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storage_outer')
                        td 建库组样本剩余量
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='storage_out_residue')
                    tr
                        td 上机组接收人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='operate_handover')
                        td 上机组接收时间
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='operate_handover_date')
                        td 上机芯片编码
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='operate_chip_code')
                    tr
                        td 上机reads数
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='operate_reads_val')
                        td 上机q30值
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='operate_q30_val')
                        td 上机人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='operater')
                    tr
                        td 上机时间
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='operate_date')
                        td 上机审查人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='operate_checker')
                        td 上机审查时间
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='operate_check_date')
                    tr
                        td 上机组出库人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='operate_outer')
                        td 上机组样本剩余量
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='operate_out_residue')
                        td 分析报告组接收人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='report_handover')
                    tr
                        td 分析报告组接收时间
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='report_handover_date')
                        td 分析结果
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='report_result')
                        td 建议
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='report_advice')
                    tr
                        td 是否发送
                        td
                            select.col-xs-12.clo-sm-10(style="width:180px;", name='report_is_send', placeholder='')
                                option(value='') 全部
                                option(value='1') 发送
                                option(value='2') 不发送
                        td 分析人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='reporter')
                        td 分析时间
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='report_date')
                    tr
                        td 报告发送人
                        td
                            input.col-xs-10.col-sm-5(type='text' , name='report_sender')
                        td 报告发送时间
                        td
                            input.col-xs-10.col-sm-5.ipt-range-date(type='text' , name='report_send_date')
                        td 状态
                        td
                            select#status.col-xs-12.clo-sm-10(style="width:180px;", name='status',placeholder='')
                                option(value='-1') 全部
                                option(value='0') 已废弃
                                option(value='1') 已录入
                                option(value='2') 已审批
                                option(value='3') 已入库
                                option(value='4') 已出库
                                option(value='5') 已提取
                                option(value='6') 提取合格
                                option(value='7') 提取废弃
                                option(value='8') 重提取
                                option(value='9') 提取已交接
                                option(value='10') 已建库
                                option(value='11') 建库合格
                                option(value='12') 建库废弃
                                option(value='13') 重建库
                                option(value='14') 建库已交接
                                option(value='15') 已上机
                                option(value='16') 上机合格
                                option(value='17') 上机废弃
                                option(value='18') 重上机
                                option(value='19') 上机已交接
                                option(value='20') 已分析
                                option(value='21') 报告已发送
                    tr
                        td 数据状态
                        td
                            select.col-xs-12.clo-sm-10(style="width:180px;", name='show_is_his', placeholder='')
                                option(value='', selected) 正常数据
                                option(value='1') 全部数据
                                option(value='2') 废弃数据
                        td
                        td
                        td
                        td
                            #btn-search.btn-group
                                button.btn.btn-info.btn-sm(type='submit')
                                    i.icon.iconfont.icon-chaxun.bigger-110 &nbsp;&nbsp;搜&nbsp;索
                                button.btn.btn-info.dropdown-toggle.btn-sm(data-toggle='dropdown')
                                    i.icon-angle-down.icon-only
                                ul.dropdown-menu.dropdown-yellow
                                    li
                                        a#btn-search-more(href='javascript:void(0);') 显示更多搜索项
                            button.btn.btn-sm(type='reset')
                                i.icon.iconfont.icon-qingchu.bigger-110

            div.my-toolbar
                button.btn.btn-info.btn-sm(onclick="showEditDialog(this)")
                    i.icon-edit.bigger-110 &nbsp;修改信息
                span
                button.btn.btn-info.btn-sm(onclick="showDeleteDialog(this)")
                    i.icon.iconfont.icon-shanchu.bigger-110 &nbsp;彻底删除
                span
                button#btn-dc-id.btn.btn-info.btn-sm(onclick="exportCvs(this)")
                    i.icon.iconfont.icon-x-xlsx.bigger-110 &nbsp;导出EXCEL
                //button#btn-dy-id.btn.btn-info.btn-sm(onclick="dy(this)")
                    i.icon-print.bigger-110 打印
                span
                label.pull-right.inline(style="margin-top:10px;")
                    small.muted 表格显示模式:
                    input#id-button-borders.ace.ace-switch.ace-switch-5(checked="", type="checkbox", onclick="switchTableModel(this)")
                    span.lbl

            table#grid-table
            #grid-pager
    script(type='text/javascript',src="javascripts/dna/admin.js")
