script(src='/service/api/service.js/helper.js')
script var ApiService = new ApiService('/service/api/service.js');

script(src='/service/common.js/helper.js')
script var ServiceCommon = new ServiceCommon('/service/common.js');

script(src='/service/dna/admin.js/helper.js')
script var DnaAdmin = new DnaAdmin('/service/dna/admin.js');

script(src='/service/dna/export.js/helper.js')
script var DnaExport = new DnaExport('/service/dna/export.js');

script(src='/service/dna/extract.js/helper.js')
script var DnaExtract = new DnaExtract('/service/dna/extract.js');

script(src='/service/dna/index.js/helper.js')
script var DnaIndex = new DnaIndex('/service/dna/index.js');

script(src='/service/dna/operate.js/helper.js')
script var DnaOperate = new DnaOperate('/service/dna/operate.js');

script(src='/service/dna/receive.js/helper.js')
script var DnaReceive = new DnaReceive('/service/dna/receive.js');

script(src='/service/dna/report.js/helper.js')
script var DnaReport = new DnaReport('/service/dna/report.js');

script(src='/service/dna/storage.js/helper.js')
script var DnaStorage = new DnaStorage('/service/dna/storage.js');

script(src='/service/settings/index.js/helper.js')
script var SettingsIndex = new SettingsIndex('/service/settings/index.js');

script(src='/service/user/index.js/helper.js')
script var UserIndex = new UserIndex('/service/user/index.js');
