script(src="/javascripts/fragment/dnaBarcodeShortInput.js")
script(src="/javascripts/fragment/dnaWarehouse.js")
script(src="/javascripts/fragment/editUserInfo.js")
script(src="/javascripts/fragment/selectUser.js")
